* {
    background-color: aqua;
    padding: 0;
    margin: 0;
}


.container {
    /* padding: 20px; */
    width: 790px;
    height: 250px;
    background-color: rgb(228, 212, 212);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.col {
    flex: 2;
    width: 220px;
    padding: 10px;
    background-color: blanchedalmond;
    /* display: inline-block; */
}

.col-2 {

    flex: 1;
}